/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require animate

 */

 @import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300|Roboto:300);

.devise{
  background-color: #fff;
}



 .signin {
   background-color: #d3d3d3;
   font-family: 'Montserrat', sans-serif;
   color: #fff;
   font-size: 14px;
   letter-spacing: 1px;

 }

 .login {
   position: relative;
   height: 560px;
   width: 405px;
   margin: auto;
   padding: 60px 60px;
   background: url(http://mikeyoungweb.com/img/bg4.jpg) no-repeat   center center #505050;
   background-size: cover;
   box-shadow: 0px 30px 60px -5px #000;
 }

 form {
   padding-top: 80px;
   position: absolute;
   top:150px;
   left:530px;
 }

 .active {
   border-bottom: 2px solid #1161ed;
   color: white;
   margin-bottom: 30px;
 }

 .nonactive {
   color: rgba(255, 255, 255, 0.2);
 }

 h2 {
   padding-left: 12px;
   font-size: 22px;
   text-transform: uppercase;
   padding-bottom: 5px;
   letter-spacing: 2px;
   display: inline-block;
   font-weight: 100;
 }

 h2:first-child {
   padding-left: 0px;
 }

 .span {
   text-transform: uppercase;
   font-size: 12px;
   opacity: 0.4;
   display: inline-block;
   position: relative;
   top: -65px;
   transition: all 0.5s ease-in-out;
   color: white;


 }

 .text {
   border: none;
   width: 89%;
   padding: 10px 20px;
   display: block;
   height: 38px;
   font-size: 13px;
   border-radius: 20px;
   background: rgba(255, 255, 255, 0.1);
   border: 2px solid rgba(255, 255, 255, 0);
   overflow: hidden;
   margin-top: 5px;
   color: white;
   transition: all 0.5s ease-in-out;
 }

 .check{
   color: white;

 }

 .text:focus {
   outline: 0;
   border: 2px solid rgba(255, 255, 255, 0.5);
   border-radius: 20px;
   background: rgba(0, 0, 0, 0);
 }

 .text:focus {
   opacity: 0.6;
 }

 input[type="text"],
 input[type="password"] {
   font-family: 'Montserrat', sans-serif;
   color: #fff;
 }



 input {
   display: inline-block;
   padding-top: 20px;
   font-size: 14px;
 }

 h2,
 .span,
 .custom-checkbox {
   margin-left: 20px;
 }

 .custom-checkbox {
   -webkit-appearance: none;
   background-color: rgba(255, 255, 255, 0.1);
   padding: 8px;
   border-radius: 2px;
   display: inline-block;
   position: relative;
   top: 6px;
 }

 .custom-checkbox:checked {
   background-color: white;
 }

 .custom-checkbox:checked:after {
   content: '\2714';
   font-size: 10px;
   position: absolute;
   top: 1px;
   left: 4px;
   color: #fff;
 }

 .custom-checkbox:focus {
   outline: none;
 }

 label {
   display: inline-block;
   padding-top: 10px;
   padding-left: 5px;
 }

 .signin {
   background-color: #1161ed;
   color: #FFF;
   width: 100%;
   padding: 10px 20px;
   display: block;
   height: 39px;
   border-radius: 20px;
   margin-top: 30px;
   transition: all 0.5s ease-in-out;
   border: none;
   text-transform: uppercase;
 }

 .signin:hover {
   background: #4082f5;
   box-shadow: 0px 4px 35px -5px #4082f5;
   cursor: pointer;
 }

 .signin:focus {
   outline: none;
 }

 hr {
   border: 1px solid rgba(255, 255, 255, 0.1);
   top: 50px;
   position: relative;
 }

 .forgot {
   text-align: center;
   display: block;
   top: 60px;
   position: relative;
   text-decoration: none;
   color: rgba(255, 255, 255, 0.2);
 }

 /*
Using Skeleton (getskeleton.com) for the CSS responsive grid
*/

.body{
  background: #E0E0E0;
  background-image: url('http://haydendmills.com/codepen/powder.png');
  font-family: 'Josefin Sans', sans-serif;
}

.a{
  color: #5568FD;
}

.p{
  font-size: 18px;
  color: #B9BEE2;
}

.center{
  text-align: center;
}


.disabled{
  color: #B9BEE2;
}

.h5{
  font-size: 3em;
  color: #1565C0;
  text-transform: uppercase;
  margin-bottom: 40px;
  width:400px;

}

.button-signup{
  height: 60px;
  padding: 0 30px;
  color: #fff;
  text-align: center;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #D32F2F;
  border-radius: 2px;
  border: 1px solid #D32F2F;
  cursor: pointer;
  margin-top: 20px;
}

.button-signup:hover {
  color: #fff;
  margin: 20px;
  background: #B9BEE2;
  border: 1px solid #B9BEE2;
  outline: 0; }

.button-signup-position{
  margin-top: -40px;
  text-align: center;
  z-index: 9999;
  position: relative;
  padding-bottom: 150px;
}

.sign-up-box{
  background: #fff;
  max-width: 550px;
  padding: 60px;
  height: auto;
  margin: 0 auto;
  position: absolute;
  left: -90px;
  top: 0px;

}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
/*input[type="text"],*/
input[type="tel"],
input[type="url"],
input[type="password"],
textarea, placeholder,
select {
  height: 38px;
  font-size: 22px;
  color: #212121;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid #D32F2F;
  width: 400px;
  padding: 6px 6px;
  margin-bottom: 30px;
  background-color: transparent;
  box-shadow: none;
  box-sizing: border-box; }

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #B9BEE2;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #B9BEE2;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #B9BEE2;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #B9BEE2;
}

.copy{
  color: white;
  font-size: 1em;
  margin-top:-2.3%;
  margin-left: 2%;
  float: left;

}

.out{
  color: white;
  font-size: 1em;
  margin-top:1.9%;
  margin-left: 90%;
  float: left;


}
